@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  src: url("../fonts/Montserrat-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  src: url("../fonts/Montserrat-Bold.otf") format("OpenType");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.otf") format("OpenType");
}

body{
  margin: 0px;
}
.superior{
  background-image: url("../img/background-superior.png");
  background-size: 101%;
  background-repeat: no-repeat;
}

.opaque-navbar {
    background-color: rgba(22,65,148,0.75);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
   /* height: 60px*/;
    border-bottom: 2px;
    border-color: white;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #164194;
    /*height: 60px*/;
    transition: background-color .5s ease 0s;
}

.logo{
  width: 180px;
  align-items: center;
}

.nav-item{
	font-family: "MontserratRegular";
	font-size: 12px;
}

.icons{
  font-size: 16px;
}

.navbar-menu{

}

.texto-carrosel{
  font-family: "MontserratBold";
}

/*.navbar {
	background-color: #223b74
}*/