/*Fontes utilizadas na página*/

@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
	src: url("../fonts/Montserrat-Regular.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
	src: url("../fonts/Montserrat-Bold.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratExtraBold";
	src: url("../fonts/Montserrat-ExtraBold.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratBlack";
	src: url("../fonts/Montserrat-Black.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratSemiBold";
	src: url("../fonts/Montserrat-SemiBold.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratSemiBoldItalic";
	src: url("../fonts/Montserrat-SemiBoldItalic.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratMedium";
	src: url("../fonts/Montserrat-Medium.otf") format("OpenType");
}

body {
	margin: 0px;
	padding-right: -15px;
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
	.titulos-mobile {
		font-size: 2.3rem !important;
	}
}

.container {
	overflow: hidden;
}

.container-navbar {
	overflow: visible;
}

.superior {
	background-image: url(../img/background-superior.png);
	background-size: 112%;
	background-repeat: no-repeat;
	background-position-y: 34%;
	background-position-x: 44%;
	overflow: hidden;
}

.opaque-navbar {
	background-color: rgba(22, 65, 148, 0.75);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: background-color .5s ease 0s;
	z-index: 1;
}

.opaque-navbar.opaque {
	background-color: #164194;
	transition: background-color .5s ease 0s;
}

.menu-treinamentos {
	width: 675px;
}

@media (max-width: 900px) {
	.dropdown-menu {
		height: 400px;
		overflow-y: auto;
	}
}

.titulo-dropdown {
	padding-bottom: 0.05rem;
	font-family: "MontserratSemiBold";
	font-size: 0.77rem;
	color: #636363;
}

.linha-titulo {
	background-color: #2e4e8c;
	width: 16%;
	height: 3px;
	margin-left: 12%;
	margin-bottom: 7%;
}

@media (min-width: 900px) {
	.coluna-1 {
		border-right: solid 2px #b1b1b1;
	}
}

.coluna-1 a {
	font-family: "MontserratMedium";
    font-size: 0.7rem;
    color: #636363;
	padding-bottom: 11%;
}

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
	.menu-treinamentos {
		width: 100%;
	}
}

@media (min-width: 900px) {
	.coluna-2 {
		border-right: solid 2px #b1b1b1;
	}
}

.img-menu {
	width: 90%;
    padding-left: 10%;
}

.titulo-coluna2 {
	font-family: "MontserratBold";
	color: #2e2e2e;
	font-size: 0.73rem;
	text-align: center;
	padding-top: 9%;
}

.saiba-mais {
	font-family: "MontserratBold";
    color: #2e2e2e;
    font-size: 0.7rem;
    text-align: center;
    background-color: #fdbf2b;
    padding: 8px 0 8px 0;
    width: 68%;
	margin-left: 17%;
	margin-bottom: 10%;
}

.img-drop {
	width: 90%;
	padding-left: 10%;
}

.bg-solid {
	background-color: rgba(22, 65, 148, 1) !important;
}

.logo {
	width: 144px;
	align-items: center;
	padding-left: 10px;
}

.nav-item {
	font-family: "MontserratRegular";
	font-size: 12px;
}

.navbar-menu-resp {
	z-index: 1;
}

.div-icons {
	height: 68px;
	line-height: 3.5;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.icons {
	font-size: 16px;
}

.menu-mobile {
	padding-right: 6%;
}

.texto-carrosel {
	font-family: "MontserratBold";
	color: #fff;
	padding-top: 27%;
	padding-bottom: 12%;
	padding-left: 10px;
	font-size: 3.3rem;
}

/*Responsividade para tamanho da fonte*/

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
	.texto-carrosel {
		font-size: 3rem;
	}
	.opaque-navbar {
		background-color: rgba(22, 65, 148, 1);
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.texto-carrosel {
		font-size: 2.5rem;
	}
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
	.texto-carrosel {
		font-size: 2rem;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.texto-carrosel {
		font-size: 2rem;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
	.texto-carrosel {
		font-size: 2rem;
	}
}

.opaque-form {
	background-color: rgba(22, 65, 148, 0.75);
	transition: background-color .5s ease 0s;
}

.opaque-form.opaque {
	background-color: #164194;
	transition: background-color .5s ease 0s;
}

.label-form {
	font-size: 1.2rem;
	color: #fff;
	font-family: "MontserratSemiBold";
	text-align: center;
	padding-top: 10px;
}

.input-txt {
	padding: 10px;
	width: 100%;
	font-family: "MontserratBold";
	color: #afafaf;
	font-size: 11px;
}

.btn-enviar {
	border-radius: 0;
	border: 2px solid #fff;
	width: 100%;
	height: 100%;
	background-color: rgba(35, 46, 66, 0.7);
	font-family: "MontserratBlack";
	color: #fff;
}

.form-mobile {
	overflow: hidden;
}

.no-opaque-form {
	background-color: rgba(22, 65, 148, 1);
	/*transition: background-color .5s ease 0s;*/
}

.row-consultoria {
	padding-bottom: 15px;
}

.txt-desafio {
	overflow: hidden;
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
	.txt-desafio {
		padding-left: 7%;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.txt-desafio {
		padding-left: 7%;
	}
}

.title-desafio {
	padding-top: 12%;
	padding-bottom: 12%;
	font-family: "MontserratBold";
	font-size: 3.3rem;
	color: #123274;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.title-desafio {
		padding-top: 10%;
		padding-bottom: 10%;
	}
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
	.title-desafio {
		padding-top: 5%;
		padding-bottom: 5%;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.title-desafio {
		padding-top: 3%;
		padding-bottom: 3%;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
	.title-desafio {
		padding-top: 1%;
		padding-bottom: 1%;
	}
}

.title-artigo {
	color: #0d529e;
}

.p-desafio {
	font-family: "MontserratRegular";
	color: #636363;
	width: 75%;
	font-size: 0.77rem;
}

.itens-desafio {
	padding-top: 4%;
	background-image: url("../img/background-desafios.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 88%;
}

.satisfacao-centro {
	padding-top: 11%;
	padding-bottom: 15.5%;
}

.satisfacao-centro img {
	padding-top: 5%;
}

.midcol-satisfacao {
	font-family: "MontserratExtraBold";
	color: #fff;
	text-align: right;
	float: left;
	padding-left: 21%;
	padding-right: 11.6%;
	font-size: 1.6rem;
}

.gerencia-centro {
	padding-top: 8%;
	padding-bottom: 14%;
}

.gerencia-centro img {
	padding-top: 4.5%;
}

.midcol-gerencia {
	font-family: "MontserratExtraBold";
	color: #fff;
	text-align: right;
	float: left;
	padding-left: 21%;
	padding-right: 8.5%;
	font-size: 1.6rem;
}

.desenvolvimento-centro {
	padding-top: 18%;
	padding-bottom: 24.5%;
}

.desenvolvimento-centro img {
	padding-top: 5%;
}

.midcol-desenvolvimento {
	font-family: "MontserratExtraBold";
	color: #fff;
	text-align: right;
	float: left;
	padding-left: 4%;
	padding-right: 7.2%;
	font-size: 1.6rem;
}

.metodologia-centro {
	padding-top: 11%;
}

.metodologia-centro img {
	padding-top: 5%;
}

.midcol-metodologia {
	font-family: "MontserratExtraBold";
	color: #fff;
	text-align: right;
	float: left;
	padding-left: 23%;
	padding-right: 7.2%;
	font-size: 1.6rem;
}

.white-line {
	height: 2px;
	width: 60%;
	margin-left: 20%;
	background-color: #fff;
}

.satisfacao-texto {
	font-family: "MontserratRegular";
	color: #636363;
	width: 85%;
	font-size: 0.85rem;
	padding-top: 18%;
}

.gerencia-texto {
	font-family: "MontserratRegular";
	color: #636363;
	width: 85%;
	font-size: 0.85rem;
	padding-top: 7%;
}

.desenvolvimento-texto {
	font-family: "MontserratRegular";
	color: #636363;
	width: 85%;
	font-size: 0.85rem;
	padding-top: 7%;
}

.metodologia-texto {
	font-family: "MontserratRegular";
	color: #636363;
	width: 85%;
	font-size: 0.85rem;
	padding-top: 7%;
	padding-bottom: 22%;
}

.titles-itens {
	padding-top: 1, 85%;
	padding-bottom: 3%;
	padding-right: 10%;
	font-family: "MontserratExtraBold";
	font-size: 3.1rem;
	color: #fff;
	text-align: right;
	border-bottom: 2px solid #fff;
}

.row-grafico {
	overflow: hidden;
}

.grafico-desafio {
	width: 100%;
}

.title-servicos {
	padding-top: 2%;
	padding-bottom: 2%;
	font-family: "MontserratBold";
	font-size: 3.3rem;
	color: #123274;
	text-align: center;
}

.title-servicos-2 {
	color: #0d529e;
}

.img-servicos {
	display: inline-block;
	position: relative;
}

.img-servicos img {
	width: 100%;
}

.img-servicos label {
	position: absolute;
	top: 73%;
	text-align: center;
	font-size: 1.3rem;
	font-family: "MontserratBold";
	color: white;
	background-color: rgba(22, 65, 148, 0.75);
	transition: background-color .5s ease 0s;
	margin-left: 30px;
	margin-right: 30px;
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
	.img-servicos {
		padding-top: 2%;
	}
	.img-servicos label {
		font-size: 1.5rem;
	}
}

.row-servicos {
	padding-bottom: 2%;
	width: 100%;
}

.destaques {
	background-color: #164194;
	padding-bottom: 2%;
	overflow: hidden;
}

.row-img-destaques {
	width: 100%;
}

.title-destaques {
	padding-top: 2%;
	padding-bottom: 2%;
	font-family: "MontserratBold";
	font-size: 3.3rem;
	color: #fff;
	text-align: center;
}

.img-destaques img {
	width: 100%;
}

.label-destaques {
	text-align: center;
	font-size: 1.1rem;
	font-family: "MontserratBold";
	color: white;
	margin-left: 30px;
	margin-right: 30px;
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
	.img-destaques {
		padding-top: 2%;
	}
	.hidden-pequeno {
		display: none;
	}
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (min-width: 767px) {
	.hidden-grande {
		display: none;
	}
}

.link-ebook {
	font-family: "MontserratBold";
	font-size: 1.2rem;
	color: #164194;
	background-color: #fff;
	text-align: center;
	padding: 5px;
	margin-left: 30px;
	margin-right: 30px;
}

.row-beneficios {
	padding-bottom: 4%;
}

.img-beneficios {
	display: inline-block;
	position: relative;
}

.img-beneficios img {
	width: 100%;
}

.img-beneficios label {
	position: absolute;
	top: 77%;
	text-align: center;
	font-size: 0.85rem;
	font-family: "MontserratBold";
	color: white;
	background-color: rgba(22, 65, 148, 0.75);
	transition: background-color .5s ease 0s;
	margin-left: 5px;
	margin-right: 5px;
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
	.img-beneficios {
		padding-top: 2%;
	}
	.img-beneficios label {
		font-size: 1.1rem;
	}
}

.lista-beneficios {
	list-style: outside url("../img/marcador.png");
	font-family: "MontserratRegular";
	font-size: 0.8rem;
	color: 636363;
	padding-top: 7%;
	line-height: 1rem;
}

.lista-beneficios li {
	margin-bottom: 8px;
}

.titulo-certificados {
	font-family: "MontserratBold";
	font-size: 2.5rem;
	color: #fff;
	padding-top: 10%;
	padding-bottom: 10%;
}

.texto-certificados {
	font-family: "MontserratRegular";
	font-size: 0.89rem;
	color: #fff;
	width: 75%;
}

.centro-certificados {
	background-image: url("../img/background-certificados.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 88%;
}

.logistica-centro {
	padding-top: 35%;
	padding-bottom: 25%;
}

.midcol-certificados {
	font-family: "MontserratExtraBold";
	color: #fff;
	text-align: right;
	float: left;
	padding-left: 38%;
	padding-right: 5.4%;
}

.marcador-circular {
	width: 7%;
}

.setores-centro {
	padding-left: 5px;
	padding-bottom: 33%;
	padding-top: 21%;
}

.setores-centro img {
	padding-top: 4%;
}

.certificados {
	background-color: #164194;
	overflow: hidden;
}

.texto-certificados-r {
	font-family: "MontserratRegular";
	font-size: 0.89rem;
	color: #fff;
}

.logistica-texto {
	padding-top: 11%;
}

.setores-texto {
	padding-top: 6%;
}

.video-inst {
	background-color: #000;
}

.espaco-video {
	width: 100%;
	padding-top: 7%;
	padding-bottom: 7%;
}

.img-outros-servicos {
	display: inline-block;
	position: relative;
}

.img-outros-servicos img {
	width: 100%;
}

.img-outros-servicos label {
	position: absolute;
	top: 77%;
	text-align: center;
	font-size: 1.1rem;
	font-family: "MontserratBold";
	color: white;
	background-color: rgba(22, 65, 148, 0.75);
	transition: background-color .5s ease 0s;
	margin-left: 30px;
	margin-right: 30px;
}

.label-auditoria {
	width: 80%;
	height: 17%;
	padding-top: 13px;
}

.bkg-historias {
	background-image: url("../img/background-historias.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.titulo-historias {
	font-family: "MontserratBold";
	font-size: 1.2rem;
	color: #fff;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 5%;
}

.carousel-item {
	padding-left: 12%;
	padding-right: 12%;
}

.txt-historias {
	font-family: "MontserratSemiBoldItalic";
	color: #fff;
	text-align: center;
}

.aspas {
	font-size: 40px;
	font-family: "MontserratExtraBold";
}

.aspas-last {
	font-size: 40px;
	font-family: "MontserratExtraBold";
	line-height: 1px;
}

.foto-cliente {
	padding-top: 5%;
	padding-bottom: 4%;
	width: 100%;
}

.nome-cliente {
	font-family: "MontserratBold";
	font-size: 1.1rem;
	color: #fff;
	text-align: center;
}

.title-clientes {
	padding-top: 4%;
	padding-bottom: 4%;
	font-family: "MontserratBold";
	font-size: 2.3rem;
	color: #123274;
	text-align: center;
}

.overflow-hidden {
	overflow: hidden;
}

.logo-clientes {
	width: 100%;
}

.logo-1 {
	border-right: solid 2px #a4a4a4;
	border-bottom: solid 2px #a4a4a4;
}

.logo-2 {
	border-bottom: solid 2px #a4a4a4;
}

.logo-3 {
	border-right: solid 2px #a4a4a4;
}

.row-clientes {
	padding-bottom: 7%;
}

.contatos-rodape {
	background-image: url("../img/bkg-rodape.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.titulo-contatos {
	font-family: "MontserratBold";
	font-size: 1.2rem;
	color: #fff;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 3%;
}

.google-maps {
	width: 100%;
	height: 250px;
	border: 0;
}

.form-contato {
	padding-top: 1.5%;
}

.btn-enviar-contato {
	border-radius: 0;
	border: 2px solid #fff;
	width: 100%;
	height: 100%;
	background-color: rgba(39, 39, 39, 0.8);
	font-family: "MontserratBlack";
	color: #fff;
}

.icons-contato {
	text-align: center;
	color: #000;
	font-size: 20px;
	height: 5%;
}

.social {
	list-style-type: none;
	margin-top: 30px;
	padding-bottom: 4%;
}

.social li {
	display: inline;
	padding-right: 30px;
}

.social li a {
	background-color: #e2ddda;
	width: 30px;
	height: 30px;
	color: #000;
	border-radius: 50%;
	font-size: 0.97em;
	text-align: center;
	line-height: 1.5em;
}

.social li a:link {
	text-decoration: none;
}

.social li a:visited {
	text-decoration: none;
}

.social li a:active {
	text-decoration: none;
}

.texto-contato {
	font-family: "MontserratBold";
	font-size: 0.75rem;
	color: #fff;
	text-align: center;
	padding-bottom: 3%;
}

.white-line-bottom {
	height: 3px;
	width: 60%;
	margin-left: 20%;
	background-color: #fff;
	margin-bottom: 3%;
}