/*Fontes utilizadas na página*/
@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
	src: url("../fonts/Montserrat-Regular.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
	src: url("../fonts/Montserrat-Bold.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratExtraBold";
	src: url("../fonts/Montserrat-ExtraBold.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratBlack";
	src: url("../fonts/Montserrat-Black.otf") format("OpenType");
}

@font-face {
	font-family: "MontserratSemiBold";
	src: url("../fonts/Montserrat-SemiBold.otf") format("OpenType");
}

body{
	margin: 0px;
}

.superior{
	background-image: url(../img/background-superior.png);
	background-size: 112%;
	background-repeat: no-repeat;
	background-position-y: 34%;
	background-position-x: 44%;
	overflow: hidden;
}

.opaque-navbar {
    background-color: rgba(22,65,148,0.75);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    transition: background-color .5s ease 0s;
    z-index: 1;
}

.opaque-navbar.opaque {
    background-color: #164194;
    transition: background-color .5s ease 0s;
}

.logo{
	width: 144px;
	align-items: center;
	padding-left:10px;
}

.nav-item{
	font-family: "MontserratRegular";
	font-size: 12px;
}

.navbar-menu-resp{
	z-index: 1;
}

.div-icons{
	height: 68px;
    line-height: 3.5;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
}

.icons{
	font-size: 16px;
}

.menu-mobile{
	padding-right: 6%;
}

.texto-carrosel{
	font-family: "MontserratBold";
	color: #fff;
	padding-top: 27%;
	padding-bottom: 12%;
	padding-left: 10px;
	font-size: 3.3rem;
}

/*Responsividade para tamanho da fonte*/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .texto-carrosel{
        font-size: 3rem;
    }

    .opaque-navbar {
    	background-color: rgba(22,65,148,1);   
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .texto-carrosel{
        font-size: 2.5rem;
    }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .texto-carrosel{
        font-size: 2rem;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .texto-carrosel{
        font-size: 2rem;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .texto-carrosel{
        font-size: 2rem;
    }
}

.opaque-form {
    background-color: rgba(22,65,148,0.75);
    transition: background-color .5s ease 0s;
}

.opaque-form.opaque {
    background-color: #164194;
    transition: background-color .5s ease 0s;
}

.label-form{
	font-size: 1.2rem;
	color: #fff;
	font-family: "MontserratSemiBold";
	text-align: center;
	padding-top: 10px;
}

.input-txt{
	padding: 10px;
	width: 100%;
	font-family: "MontserratBold";
	color: #afafaf;
	font-size: 11px;
}

.btn-enviar{
	border-radius: 0;
	border: 2px solid #fff;
	width: 100%;
	height: 100%;
	background-color: #232e42;
	font-family: "MontserratBlack";
	color: #fff;
}

.form-mobile{
	overflow: hidden;
}

.no-opaque-form {
    background-color: rgba(22,65,148,1);
    /*transition: background-color .5s ease 0s;*/
}

.row-consultoria{
	padding-bottom: 15px;
}

.txt-desafio{
	overflow: hidden;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .txt-desafio{
        padding-left: 7%;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .txt-desafio{
        padding-left: 7%;
    }
}

.title-desafio{
	padding-top: 15%;
	padding-bottom: 15%;
	font-family: "MontserratBold";
	font-size: 3.3rem;
	color: #123274;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .title-desafio{
		padding-top: 12.5%;
		padding-bottom: 12.5%;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .title-desafio{
		padding-top: 10%;
		padding-bottom: 10%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .title-desafio{
		padding-top: 5%;
		padding-bottom: 5%;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .title-desafio{
		padding-top: 3%;
		padding-bottom: 3%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .title-desafio{
		padding-top: 1%;
		padding-bottom: 1%;
    }
}

.title-artigo{
	color: #0d529e;
}

.p-desafio{
	font-family: "MontserratRegular";
	color: #636363;
	width: 100%;
}

.itens-desafio{
	padding-top: 4%;
	margin-left: 30px;
	background-image: url("../img/background-desafios.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 45%;
}

.titles-itens{
	padding-top: 1,85%;
	padding-bottom: 3s%;
	padding-right: 10%;
	font-family: "MontserratExtraBold";
	font-size: 3.1rem;
	color: #fff;
	text-align: right;
	border-bottom: 2px solid #fff;
}